name: Another Test OIDC
on:
  workflow_dispatch:
permissions:
  id-token: write
  contents: read
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.PYFLEET_ARN }}-dev
          aws-region: us-east-1
      - run: aws s3 ls
